<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noticeInsert</title>
    <link rel="stylesheet" href="/static/css/notice.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <button type="button" class="nav-list">홈</button>
            <button type="button" class="nav-list">공지사항</button>
        </nav>
        <div class="auth-items">
            <button type="button" class="auth-button signin">로그인</button>
            <button type="button" class="auth-button signup">회원가입</button>
        </div>
    </header>

    <main>
        <div class="notice-header">
            <h1 class="menu-title">새로운 글 작성</h1>
        </div>
        <article>
            
        </article>
    </main>
</body>
</html>